.form-fields {
  min-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 2rem;
}

.form-fields mat-form-field {
  width: 100%;
}
